<h1>Simple CMS</h1>
<h2>Temp Menu</h2>

<%= link_to('Subject Index', {:controller => 'subjects', :action => 'index'}) %><br />
<%= link_to('Page Index', {:controller => 'pages', :action => 'index'}) %><br />
<%= link_to('Section Index', {:controller => 'sections', :action => 'index'}) %><br />

